{% extends "nav_2.html" %} {% block title %}桃城万事屋{% endblock %}

<main style="background-color:#EFDEC8">
    {%block main%}

    <div class="container-fuild">

        <div class="alert alert-warning alert-dismissible fade show kkobject" role="alert">
            <strong>系統資訊:</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </div>

    <script>
        window.setTimeout(Timefunction, 2000);

        function Timefunction() {
            document.getElementsByClassName("kkobject").display = "";
        }
    </script>

    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 g-3" style="text-align: center;">
                <div class="card shadow-lg">
                    <h5 class="card-header" style="color:#643200">Please Login</h5>
                    <div class="card-body">
                        <form method="post" action="/Login">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="account" id="account" placeholder="account" required>
                                <label for="account">Account</label>
                            </div>
                            <p></p>
                            <div class="form-floating">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                <label for="password">Password</label>
                            </div>
                            <p></p>
                            <button class="w-100 btn btn-lg btn-primary" style="background-color: #643200; border-color: #643200;" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <nav class="navbar fixed-bottom">
        <div class="container-fluid">
            <p> Copyright &copy; 2022-
                <script>
                    document.write(new Date().getFullYear())
                </script> All Rights Reserved
            </p>
        </div>
    </nav>

    {%endblock%}
</main>