.content {
    border: 1px solid #865a3a;
    background-color: #EFDEC8;
    padding: 5px;
    margin: 5px;
}

.content svg {
    border: 4px solid #865a3a;
}

#submition {
    position: absolute;
    padding: 10px 0 0 10px;
    height: 3vh;
}

#submition img {
    height: 100%;
}

#resize {
    position: absolute;
    padding: 60px 0 0 10px;
    width: 5vh;
    height: 15vh;
}

#resize .zoom_in {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0;
    width: 100%;
    height: 50%;
}

#resize .zoom_out {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    width: 100%;
    height: 50%;
}