/* font setting */

@font-face {
    font-family: 'Noto Sans TC';
    src: url(/font/SourceHanSerifTC-Bold.otf);
}


/* blockA */

#blockA {
    background-color: #F5F5F5;
}

.main_title {
    position: absolute;
    bottom: 30vh;
    right: 25vw;
    display: inline;
    font-size: 40px;
    font-family: 'Noto Sans TC';
}

.main_subtitle {
    font-size: 26px;
    padding-left: 20vw;
    padding-top: 5vw;
    font-family: 'Noto Sans TC';
}


/* blockB */

#blockB {
    background-color: #EFDEC8;
    height: 100vh;
}

#blockB .photo {
    width: 50vw;
    height: 100vh;
    float: left;
}

#blockB .text {
    width: 40vw;
    height: 100vh;
    float: right;
}

#blockB img {
    height: 100vh;
    max-width: 50vw;
    overflow: hidden;
    object-fit: cover;
}

#blockB p {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    font-family: 'Noto Sans TC';
    padding-top: 10vh;
    padding-left: 20vh;
}