/* font setting */

@font-face {
    font-family: 'Noto Sans TC';
    src: url(/font/SourceHanSerifTC-Bold.otf);
}

.nav_style {
    color: #643200;
    background-color: #F5F5F5;
}

.nav_title {
    font-family: 'Noto Sans TC';
    color: #643200;
}

.nav_items {
    padding-left: 10px;
    padding-right: 10px;
    color: #643200;
}

.nav_items a {
    color: #643200;
}