@font-face {
    font-family: 'Noto Sans TC';
    src: url(/font/SourceHanSerifTC-Bold.otf);
}

@font-face {
    font-family: 'Noto Sans TC Light';
    src: url(/font/SourceHanSerifTC-Light.otf);
}

:root {
    font-family: 'Noto Sans TC';
}

.photoBlock img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.titleBlock {
    height: 30vh;
}

#title {
    padding-top: 20px;
    font-size: 35px;
    font-family: 'Noto Sans TC';
}

#context {
    font-family: 'Noto Sans TC Light';
}

#imgBlock {
    text-align: center;
}