<!-- {% extends "sectionA.html" %}

<div class="container-fluid">
    {%block map%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <div class="content">
        <form action="submit" id="submition">
            <img src="{{url_for('static',filename='img/idea.png')}}" alt="">
            <input type="text">
        </form>
        <div id="resize">
            <button class="zoom_in">+</button> <br>
            <hr>
            <button class="zoom_out">-</button>
        </div>
        <embed src="{{url_for('static',filename='svg/map.svg')}}" type="image/svg+xml" />
        
    </div>
    {%endblock%}
</div> -->