{% extends "nav.html" %} {% block title %}桃城万事屋{% endblock %}

<!-- css -->



<main>
    {%block main%}
    <div id="blockA" style=" height: 100vh;">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sectionA.css')}}">
        <div class="container-fluid mainCarousel">
            <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">

                <!-- indicators -->
                <ol class="carousel-indicators">
                    <li data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#homeCarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#homeCarousel" data-bs-slide-to="2"></li>
                </ol>

                <!-- inner -->
                <div class="carousel-inner" style="text-align: center;">
                    <div class="carousel-item active ">
                        <img src="{{ url_for('static', filename='img/example1.png')}}" class="b-block w-100 " alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='img/example1.png')}}" class="b-block w-100 " alt="">
                    </div>
                    <div class="carousel-item ">
                        <img src="{{ url_for('static', filename='img/example1.png')}}" class="b-block w-100" alt="">
                    </div>
                </div>

                <!-- prev -->
                <a class="carousel-control-prev" href="#homeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                </a>

                <!-- next -->
                <a class="carousel-control-next" href="#homeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
            <p class="main_title">桃<br>城</p>

        </div>
        <p class="main_subtitle">CHIAYI CAFE</p>

    </div>

    <div id="blockB">
        <div class="photo">
            <img src="{{ url_for('static', filename='img/blockB_img.jpg')}}" alt="" srcset="">
        </div>

        <div class="text">
            <p>歡迎來到桃城万事屋<br><br>這裡提供您最優質的嘉義咖啡店情報<br><br>以及在嘉義走跳的各種趣事</p>
        </div>
    </div>


    <div id="blockC">
        {% block map %}{% endblock %}

    </div>

    <div id="blockPodcast">
        <div class="title">
            <p>Podcast</p>
        </div>
        <div class="content_list">
            <iframe src="https://open.spotify.com/embed/episode/21EG9ExCnF0plfbqeRso5I?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            <iframe src="https://open.spotify.com/embed/episode/21EG9ExCnF0plfbqeRso5I?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            <iframe src="https://open.spotify.com/embed/episode/21EG9ExCnF0plfbqeRso5I?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>

    {%endblock%}
</main>